// colors
$color-TextFf: #ffffff;
$color-TextD7:#D7D7D7;
$color-TextFe:#FEFEFE;
$color-Text22:#22ECF3;
$color-Text04: #049393;
$color-Text70: #707070;
$color-Text43: #434343;
$color-Text64: #646464;
$color-Text2c:#2C2C2C;
$color-Text41:#414141;
$color-TextF2:#F2F2F2;
$color-TextD8:#DBDBDB;
$color-Text96:#969696;
$color-Text86:#868686;
$color-TextE2:#E2E2E2;
$color-TextBefore: #33B7BC;



// font-size

$font-size15: 15px;
$font-size16: 16px;
$font-size18: 18px;
$font-size20: 20px;
$font-size24: 24px;
$font-size32: 32px;
$font-size34: 34px;
$font-size40: 40px;
$font-size46: 46px;
$font-size50: 50px;
$font-size54: 54px;
$font-size70: 70px;
$font-size100: 100px;
$font-size120: 120px;
$font-size130: 130px;
$font-size160: 160px;
